{% from "_formhelpers.html" import render_field %}
<form action="" method="post" name="add">
  {{ form.hidden_tag() }}
  {{ render_field(form.day, size=9, placeholder=datestr) }}
  {{ render_field(form.to_bed, size=5) }}
  {{ render_field(form.to_rise, size=5) }}
  {{ render_field(form.amount, size=5) }}
  {{ render_field(form.place) }}
  {{ render_field(form.alone) }}
  {{ render_field(form.sleepless) }}
  <p><input type="submit" value="Ajouter"></p>
</form>
{% if last_night %}
<p>Dernière nuit ajoutée:</p>
<table>
    <tr><td>Date</td><td>{{ last_night.day }}</td></tr>
    <tr><td>Coucher</td><td>{{ last_night.to_bed }}</td></tr>
    <tr><td>Lever</td><td>{{ last_night.to_rise }}</td></tr>
    <tr><td>Durée</td><td>{{ last_night.amount }}</td></tr>
    <tr><td>Lieu</td><td>{{ last_night.place }}</td></tr>
    <tr><td>Alone</td><td>{{ last_night.alone }}</td></tr>
    <tr><td>Sleepless</td><td>{{ last_night.sleepless }}</td></tr>
</table>
{% endif %}