<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/spectre-0.5.8/spectre.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/hypnos.css') }}">
    {% endblock head %}
</head>
<body>
    <div class="container grid-md">
    <header class="navbar">
        <section class="navbar-section">
            <a href="{{url_for('homepage')}}" class="navbar-brand mr-10">Hypnos</a>
            <a href="{{url_for('show_nights')}}" class="btn btn-link">Nuits</a>
            <a href="{{url_for('show_places')}}" class="btn btn-link">Lieux</a>
        </section>
        <section class="navbar-section">
        </section>
    </header>
    <div class="columns">
    {% block content %}
    {% endblock %}
    </div>
    </div>
</body>
</html>