{% extends "base.html" %}
{% block title %}Welcome{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/spectre-0.5.8/spectre-exp.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/spectre-0.5.8/spectre-icons.min.css') }}">
{% endblock %}
{% block content %}
    <section class="column col-12">
    <h1>Bonjour ! Nous sommes le {{today | dateformat}}</h1>
    {% if nb_nights == 0 %}
        <p>Ajouter la première nuit : <a class="btn btn-primary" href="{{url_for('night', date=today)}}">Ajouter</a></p>
    {% else %}
        {% if today != last_date %}
        <p>La nuit dernière n'a pas été encore enregistrée. <a class="btn btn-primary" href="{{url_for('night', date=today)}}">Ajouter</a></p>
        {% else %}
        <p>La nuit dernière a été enregistrée</p>
        {% endif %}
        <p>{{nb_nights}} nuits enregistrées (<a href="{{url_for('night', date=first_date)}}">{{first_date | dateformat}}</a> à <a href="{{url_for('night', date=last_date)}}">{{last_date | dateformat}}</a>)</p>
        {%- if nbmissing > 0 %}
        <p>Il manque {{nbmissing}} entrée(s) entre la première et la dernière nuit.</p>
        {%- endif %}
    {%- endif %}
    </section>
    <section class="column col-4 col-md-12 col-mx-auto">
        <div class="calendar">
            <!-- calendar navbar -->
            <div class="calendar-nav navbar">
                <button class="btn btn-action btn-link btn-lg" id="prev-month">
                    <i class="icon icon-arrow-left"></i>
                </button>
                <div class="navbar-primary" id="month-year"></div>
                <button class="btn btn-action btn-link btn-lg" id="next-month">
                    <i class="icon icon-arrow-right"></i>
                </button>
            </div>
            <div class="calendar-container">
                <div class="calendar-header">
                    <div class="calendar-date">Dim</div>
                    <div class="calendar-date">Lun</div>
                    <div class="calendar-date">Mar</div>
                    <div class="calendar-date">Mer</div>
                    <div class="calendar-date">Jeu</div>
                    <div class="calendar-date">Ven</div>
                    <div class="calendar-date">Sam</div>
                </div>
                <div class="calendar-body"></div>
            </div>
        </div>
    </section>
<script>
const SCRIPT_ROOT = {{ request.script_root|tojson }}
const monthYear = document.getElementById('month-year');
const calendarDates = document.querySelector('.calendar-body');
const prevMonthBtn = document.getElementById('prev-month');
const nextMonthBtn = document.getElementById('next-month');

let currentDate = new Date();
let currentMonth = currentDate.getMonth();
let currentYear = currentDate.getFullYear();

const months = [
  'Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin',
  'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'
];

function renderCalendar(month, year) {
    calendarDates.innerHTML = '';
    monthYear.textContent = `${months[month]} ${year}`;
  
    // Get the first day of the month
    const firstDay = new Date(year, month, 1).getDay();
  
    // Get the number of days in the month
    const daysInMonth = new Date(year, month + 1, 0).getDate();
    // Get the number of days in the previous month
    const daysInPrevMonth = new Date(year, month, 0).getDate();
  
    // Create blanks for days of the week before the first day
    for (let i = 0; i < firstDay; i++) {
        let prevMonthDay = document.createElement('div');
        prevMonthDay.classList.add('calendar-date', 'prev-month');
        let prevMonthDayBtn = createDayButton(year, month - 1, daysInPrevMonth - firstDay + 1 + i);
        prevMonthDay.appendChild(prevMonthDayBtn);
        calendarDates.appendChild(prevMonthDay);
    }
  
    // Populate the days
    for (let i = 1; i <= daysInMonth; i++) {
        let day = document.createElement('div');
        day.classList.add('calendar-date');
        dayBtn = createDayButton(year, month, i);
        day.appendChild(dayBtn);
        calendarDates.appendChild(day);
    }

    // Get the last day of the month
    const lastDay = new Date(year, month + 1, 0).getDay();

    // Create blanks for days of the week after the last day
    for (let i = 1; i < 7 - lastDay; i++) {
        let nextMonthDay = document.createElement('div');
        nextMonthDay.classList.add('calendar-date', 'next-month');
        let nextMonthDayBtn = createDayButton(year, month + 1, i);
        nextMonthDay.appendChild(nextMonthDayBtn);
        calendarDates.appendChild(nextMonthDay);
    }
}

function createDayButton(year, month, day) {
    let dayBtn = document.createElement('a');
    dayBtn.classList.add('btn', 'btn-primary', 'date-item');
    // month is zero-indexed
    let night_id = `${year}${String(month+1).padStart(2, '0')}${String(day).padStart(2, '0')}`;
    dayBtn.setAttribute('href', `${SCRIPT_ROOT}/nights/${night_id}`);
    if (year == currentYear && month == currentMonth && day == currentDate.getDate()) {
        dayBtn.classList.add('date-today');
    }
    dayBtn.textContent = day;
    return dayBtn;
}

prevMonthBtn.addEventListener('click', () => {
    currentMonth--;
    if (currentMonth < 0) {
        currentMonth = 11;
        currentYear--;
    }
    renderCalendar(currentMonth, currentYear);
});

nextMonthBtn.addEventListener('click', () => {
    currentMonth++;
    if (currentMonth > 11) {
        currentMonth = 0;
        currentYear++;
    }
    renderCalendar(currentMonth, currentYear);
});


renderCalendar(currentMonth, currentYear);
</script>
{% endblock %}