{% extends "base.html" %}
{% block title %}Nuit{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<form action="" method="post" name="nightform">
  {{ form.hidden_tag() }}
  {{ render_field(form.day, disabled="") }}
  {{ render_field(form.to_bed) }}
  {{ render_field(form.to_rise) }}
  {{ render_field(form.amount) }}
  {{ render_field(form.place) }}
  {{ render_field(form.alone) }}
  {{ render_field(form.sleepless) }}
  <div class="form-group">
    <input type="submit" value="Enregistrer" class="btn btn-primary">
  </div>
</form>
{% endblock %}