{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
{% endblock %}
{% block title %}Lieux{% endblock %}
{% block content %}
<div class="column col-12">
<a class="btn btn-primary" href="{{url_for('add_place')}}">Ajouter un lieu</a>

<div id="map" style="height: 180px"></div>

<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
</script>

<div class="columns">
{% for p in places %}
<div class="column col-6 col-xs-12">
<div class="tile tile-centered">
    <div class="tile-content">
        <div class="tile-title"><a href="{{url_for('place', pid=p.id)}}">{{p.name}}</a></div>
        <small class="tile-subtitle text-grey">lat: {{p.latitude}}, lon: {{p.longitude}}<br>
            {{p.timezone}}<br>
            {{ p.nights|length }} nuits</small>
    </div>
    <div class="tile-action">
        <a href="{{url_for('place', pid=p.id)}}" class="btn">Modifier</a>
        <a href="{{url_for('archive_place', pid=p.id)}}" class="btn">
            {% if p.archived %}Activer{% else %}Désactiver{% endif %}
        </a>
        {% if p.nights|length == 0 %}
        <a href="{{url_for('delete_place', pid=p.id)}}" class="btn btn-error">Supprimer</a>
        {% endif %}
    </div>
</div>
</div>
{% endfor %}
</div>

</div>
{% endblock %}