{% extends "base.html" %}
{% block title %}Lieux{% endblock %}
{% block content %}
<div class="column col-12">
<a class="btn btn-primary" href="{{url_for('add_place')}}">Ajouter un lieu</a>

<div class="columns">
{% for p in places %}
<div class="column col-6 col-xs-12">
<div class="tile tile-centered">
    <div class="tile-content">
        <div class="tile-title"><a href="{{url_for('place', pid=p.id)}}">{{p.name}}</a></div>
        <small class="tile-subtitle text-grey">lat: {{p.latitude}}, lon: {{p.longitude}} - {{ p.nights|length }} nuits</small>
    </div>
    <div class="tile-action">
        <a href="{{url_for('place', pid=p.id)}}" class="btn">Modifier</a>
        {% if p.nights|length == 0 %}
        <a href="{{url_for('delete_place', pid=p.id)}}" class="btn btn-error">Supprimer</a>
        {% endif %}
    </div>
</div>
</div>
{% endfor %}
</div>

</div>
{% endblock %}