{% extends "base.html" %}
{% block title %}Places{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    <div id="main" class="container">
        <h1>Places</h1>
        <button type="submit" class="btn btn-primary" data-bind="click: beginAdd" >
            <span class="fa fa-plus fa-fw" aria-hidden="true"></span> Ajouter
        </button>

        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr><th>Name</th><th>Latitude</th><th>Longitude</th></tr>
            </thead>
            <tbody data-bind="foreach: placesArray">
                <tr>
                    <td><span data-bind="text: name"></span></td>
                    <td><span data-bind="text: lat"></span></td>
                    <td><span data-bind="text: lon"></span></td>
                    <td><button class="btn btn-xs btn-default" data-bind="click: $parent.beginEdit"><i class="fa fa-pencil"></i> Edit</button></td>
                </tr>
            </tbody>
        </table>
        
        <div id="map" style="height:300px"></div>
    </div>

    <div id="creation" tabindex="-1" class="modal fade" role="dialog" aria-labelledy="addmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addmodal">Add place</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="creationContent" class="sr-only">Name:</label>
                        <input id="creationContent" class="form-control" type="text" data-bind="value: name"/>
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: searchCoordinates">Search coordinates</button>
                    <!-- at most 3 places to choose from -->
                    <!-- ko foreach : suggestedCoords -->
                    <div class="radio">
                        <label>
                            <input type="radio" name="coordRadio" data-bind="checkedValue: $data, checked: $root.checkedCoords">
                            <span data-bind="text: display_name"></span><br />lat:<span data-bind="text: lat"></span>,lon:<span data-bind="text: lon"></span>
                        </label>
                    </div>
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" >Cancel</button>
                    <button class="btn btn-primary" data-bind="click: validAdd" >Create</button>
                </div>
            </div>
        </div>
    </div>

    <div id="edition" tabindex="-1" class="modal fade" role="dialog" aria-labelledy="editmodal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="editmodal">Edit place</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editionContent" class="">Name:</label>
                        <input id="editionContent" class="form-control" type="text" data-bind="value: name"/>
                    </div>
                    <div class="form-group">
                        <label for="latitude" class="">Latitude:</label>
                        <input id="latitude" class="form-control" type="text" data-bind="value: lat"/>
                    </div>
                    <div class="form-group">
                        <label for="longitude" class="">Longitude:</label>
                        <input id="longitude" class="form-control" type="text" data-bind="value: lon"/>
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: searchCoordinates">Suggest coordinates</button>
                    <!-- at most 3 places to choose from -->
                    <!-- ko foreach : suggestedCoords -->
                    <p><span data-bind="text: display_name"></span><br />lat:<span data-bind="text: lat"></span>,lon:<span data-bind="text: lon"></span></p>
                    <!-- /ko -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-bind="click: deletePlace">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click: validEdit" >Save modifications</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/places.js') }}"></script>
{% endblock %}