{% extends "base.html" %}
{% block title %}Lieu{% endblock %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<div class="column col-12">
<form action="" method="post" name="placeform">
  {{ form.hidden_tag() }}
  {{ render_field(form.name) }}
  {{ render_field(form.latitude) }}
  {{ render_field(form.longitude) }}
  {{ render_field(form.timezone) }}
  <div class="form-group">
    <input type="submit" value="Enregistrer" class="btn btn-primary">
  </div>
</form>
</div>
{% endblock %}