{% extends "base.html" %}
{% block title %}Lieux{% endblock %}
{% block content %}
<div class="column col-12">
<a class="btn btn-primary" href="{{url_for('add_place')}}">Ajouter un lieu</a>

<div class="columns">
{% for p in places %}
<div class="column col-6 col-xs-12">
<div class="tile tile-centered">
    <div class="tile-content">
        <div class="tile-title"><a href="{{url_for('place', pid=p.id)}}">{{p.name}}</a></div>
        <small class="tile-subtitle text-grey">lat: {{p.latitude}}, lon: {{p.longitude}}</small>
    </div>
</div>
</div>
{% endfor %}
</div>

</div>
{% endblock %}