<!DOCTYPE html>
<html>
<head>
    <title>Home | Places</title>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
</head>

<body>
    <h1>Places</h1>
    <ul>
        {% for place in places %}
        <li>{{ place.name }}</li>
        {% endfor %}
    </ul>

    <div id="map" style="height:300px"></div>

    <!-- leaflet -->
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

    <script src="/static/js/show_places.js"></script>

    <script type="text/javascript">
        var mymap = L.map('map').setView([48.8624019,2.4022506], 13);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'})
         .addTo(mymap);
    </script>
</body>
</html>