<!DOCTYPE html>
<html>
<head>
    <title>Home | Nights</title>
</head>

<body>
    <h1>Nights</h1>
    
    <div style="width:70%">
        <canvas id="chartCanvas"></canvas>
    </div>


    <table border="1px solid black">
        <tr>
            <th>De</th><th>À</th><th>Durée</th><th>Seul</th><th>Endroit</th>
        </tr>
        {% for item in nights %}
        <tr>
            <td>{{ item.to_bed }}</td>
            <td>{{ item.to_rise }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.alone }}</td>
            <td>{{ item.place.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <!-- moment.js with locales -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    
    <script type="text/javascript">
        var myLabels = {{ amountchart.x|tojson|safe }}
        var myData = {{ amountchart.y|tojson|safe }}


        var ctx = document.getElementById("chartCanvas");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: myLabels,
                datasets: [{
                    label: 'Durée de sommeil',
                    data: myData
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'time'
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
</body>
</html>