{% extends "base.html" %}
{% block title %}Places{% endblock %}
{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <!-- leaflet -->
    <link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
    <script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
{% endblock %}
{% block content %}
    <div id="main" class="container">
        <h1>Places</h1>
        <button type="submit" class="btn btn-primary" data-bind="click: beginAdd" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter
        </button>

        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
                <tr><th>Name</th></tr>
            </thead>
            <tbody data-bind="foreach: placesArray">
                <tr><td><span data-bind="text: name"></span><button class="pull-right" data-bind="click: $parent.delete">&times;</button></td></tr>
            </tbody>
        </table>
        
        <div id="map" style="height:300px"></div>
    </div>


    <div id="creation" tabindex="-1" class="modal fade" role="dialog" aria-labelledy="addmodal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addmodal">Add place</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="creationContent" class="sr-only">Name:</label>
                        <input id="creationContent" class="form-control" type="text" data-bind="value: name"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" >Cancel</button>
                    <button class="btn btn-primary" data-bind="click: validAdd" >Add place</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#creation').on('shown.bs.modal', function () {
          $('#creationContent').focus()
        })


        function PlacesViewModel(){
            var self = this;
            self.placesArray = ko.observableArray()
        
            $.getJSON('http://localhost:5000/api/places', function(data){
                data['places'].forEach(function(p,i,array) {
                    self.placesArray.push({
                        id: ko.observable(p.id),
                        name: ko.observable(p.name)
                    })
                })
            });

            self.beginAdd = function(){
                $("#creation").modal('show');
            }

            self.add = function(place){
                $.ajax({
                    url: 'http://localhost:5000/api/places',
                    type:"POST",
                    data: place,
                    contentType:"application/json",
                    dataType:"json",
                    success: function(data){
                        console.log(data)
                        self.placesArray.push({
                            id: ko.observable(data['place']['id']),
                            name: ko.observable(data['place']['name'])
                        })
                    }
                })
            };

            self.delete = function(place){
                $.ajax({
                    url: 'http://localhost:5000/api/places' + '/' + place.id(),
                    type:"DELETE",
                    success: function(data){
                        if (data['result']) {
                            self.placesArray.remove(place)
                        }
                    }
                })
            }
        }

        function AddViewModel(){
            var self = this;
            self.name = ko.observable();

            self.validAdd = function() {
                $("#creation").modal('hide')
                p = JSON.stringify({'name': self.name()});
                placesViewModel.add(p);
            };
        };

        var placesViewModel = new PlacesViewModel()
        var addViewModel = new AddViewModel()
        ko.applyBindings(placesViewModel, $("#main")[0])
        ko.applyBindings(addViewModel, $("#creation")[0])

    </script>

    <script type="text/javascript">
        var mymap = L.map('map').setView([48.8624019,2.4022506], 13);

        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>'})
         .addTo(mymap);
    </script>
{% endblock %}