<!DOCTYPE html>
<html>
<head>
    <title>Home | Nights</title>
    <!-- Bootstrap Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Datetimepicker -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
              integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
              crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Knockout -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <!-- moment.js with locales -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
    <!-- Chart.js -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <!-- Datetimepicker -->
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
</head>

<body>
    <div id="main" class="container">
        <h1>Nights</h1>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creation">
            Add night
        </button>

        <div style="width:70%">
            <canvas id="chartCanvas"></canvas>
        </div>
    </div>

    <div id="creation" tabindex="-1" class="modal fade" role="dialog" aria-labelledy="addmodal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="addmodal">Add night</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="beginInput">Begin</label>
                        <input id="beginInput" class="form-control" type="text" data-bind="dateTimePicker: beginInput, dateTimePickerOptions: {locale:'fr',sideBySide:true,defaultDate:moment().seconds(0).milliseconds(0)}"/>
                    </div>
                    <div class="form-group">
                        <label for="endInput">End</label>
                        <input id="endInput" class="form-control" type="text" data-bind="dateTimePicker: endInput, dateTimePickerOptions:{locale:'fr',sideBySide:true,defaultDate:moment().seconds(0).milliseconds(0).add(1,'h')}"/>
                    </div>
                    <div class="form-group">
                        <label for="amountInput">Amount</label>
                        <input id="amountInput" class="form-control" type="text" data-bind="value: amount"/>
                    </div>
                    <div class="form-group">
                        <label>
                            <input data-bind="checked: wasAlone" type="checkbox" />
                            Alone
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="placeInput">Place</label>
                        <select id="placeInput" class="form-control" data-bind="options: places,
                                                                                optionsCaption: 'Choose a place...',
                                                                                optionsText: 'name',
                                                                                value: selectedPlace"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" >Cancel</button>
                    <button class="btn btn-primary" data-bind="click: validAdd" >Add night</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        $.getJSON('http://localhost:5000/api/nights', function(data){
                var nights = data['nights']
                nights.forEach(function(e,i,a){
                    a[i].to_bed = moment(e.to_bed)
                    a[i].to_rise = moment(e.to_rise)
                    a[i].amount = moment.duration(e.amount)
                })
                createCharts(nights)
            })

        function createCharts(nights) {
            


            createWeeklyMean(nights)
            //createPlacesPie(nights)
        }

        function createWeeklyMean(nights) {
            var myLabels = []
            var myData = []

            // first night from the set might not be at the beginning of a week
            var fromIndex = nights.findIndex(function(element){return element.to_rise.weekday() == 0})
            // same for last night of the set
            var toIndex = nights.length - nights.slice().reverse().findIndex(function(element){return element.to_rise.weekday() == 6})

            var weeks = nights.slice(fromIndex,toIndex)

            for (var i = 0; i < weeks.length; i=i+7) {
                sum = 0
                for (var j = 0; j < 6; j++) {
                    sum = sum + weeks[i+j].amount.asHours()
                }
                myData.push(sum / 7)
                myLabels.push(weeks[i].to_rise.week())
            }

            var ctx = $("#chartCanvas");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: myLabels,
                    datasets: [{
                        data: myData
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'category'
                        }],
                        yAxes: [{
                            ticks: {
                                suggestedMin: 3,
                                suggestedMax: 10,
                                stepSize: 1
                            }
                        }]
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        ko.bindingHandlers.dateTimePicker = {
            init: function (element, valueAccessor, allBindingsAccessor) {
                //initialize datepicker with some optional options
                var options = allBindingsAccessor().dateTimePickerOptions || {};
                $(element).datetimepicker(options);
                //when a user changes the date, update the view model
                ko.utils.registerEventHandler(element, "dp.change", function (event) {
                    var value = valueAccessor();
                    if (ko.isObservable(value)) {
                        if (event.date != null && !(event.date instanceof Date)) {
                            value(event.date.toDate());
                        } else {
                            value(event.date);
                        }
                    }
                });
                ko.utils.domNodeDisposal.addDisposeCallback(element, function () {
                    var picker = $(element).data("DateTimePicker");
                    if (picker) {
                        picker.destroy();
                    }
                });
            },
            update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
                var picker = $(element).data("DateTimePicker");
                //when the view model is updated, update the widget
                if (picker && ko.utils.unwrapObservable(valueAccessor())) {
                    var koDate = ko.utils.unwrapObservable(valueAccessor());

                    //in case return from server datetime i am get in this form for example /Date(93989393)/ then fomat this
                    koDate = (typeof (koDate) !== 'object') ? new Date(parseFloat(koDate.replace(/[^0-9]/g, ''))) : koDate;

                    picker.date(koDate);
                }
            }
        };

        // enlever le moment() du data-bind
        // changer les valeurs des champs lorsqu'on affiche les dateTimePicker
        // avec un bind sur le bouton 'show'

        function AddViewModel() {
            var self = this

            var now = moment()
            now.seconds(0).milliseconds(0)

            self.beginInput = ko.observable(now.toDate())
            self.endInput = ko.observable(now.add(1,'h').toDate())
            self.amount = ko.observable()
            self.wasAlone = ko.observable(false)
            self.selectedPlace = ko.observable()
            self.places = ko.observableArray()

            $.getJSON('http://localhost:5000/api/places', function(data){
                data['places'].forEach(function(p,i,array){
                    self.places.push({
                        id: ko.observable(p.id),
                        name: ko.observable(p.name)
                    })
                })
            })

            self.validAdd = function() {
                $("#creation").modal('hide')
                var night = {
                    to_bed: moment(self.beginInput()).format(),
                    to_rise: moment(self.endInput()).format(),
                    amount: self.amount(),
                    alone: self.wasAlone(),
                    place_id: self.selectedPlace().id()
                }
                $.ajax({
                    url: 'http://localhost:5000/api/nights',
                    type:"POST",
                    data: JSON.stringify(night),
                    contentType:"application/json",
                    dataType:"json",
                    success: function(data){
                        
                    }
                })
            }

            self.updateAmount = function() {
                var newDuration = moment.duration(self.endInput() - self.beginInput())
                self.amount(newDuration.toJSON())
            }
        }

        var addViewModel = new AddViewModel()
        addViewModel.updateAmount()
        ko.applyBindings(addViewModel)

        $("#beginInput").on("dp.change", function (e) {
            $('#endInput').data("DateTimePicker").minDate(e.date);
            addViewModel.updateAmount()
        });
        $("#endInput").on("dp.change", function (e) {
            $('#beginInput').data("DateTimePicker").maxDate(e.date);
            addViewModel.updateAmount()
        });
    </script>
</body>
</html>